<div class="container">
  <div class="my-4 row">
    <div class="col-2 d-flex align-items-center justify-content-center">
      <fa-icon style="margin-bottom: 0;" class="h2 text-primary py-2 px-3" [icon]="iconeMenu"></fa-icon>
    </div>
    <div class="col-8 text-center">
      <h1 style="margin-bottom: 0;" class="text-primary fw-bold">TodoApp</h1>
    </div>
    <div class="col-2">
      <fa-icon style="margin-bottom: 0;" class="h2 text-primary py-2 px-3" [icon]="iconeUsuario"></fa-icon>
    </div>
  </div>
</div>
