<div class="container">
  <form class="row p-4" [formGroup]="tarefaForm">
    <h1 class="text-primary text-center fw-bold">Editar tarefa</h1>

    <div class="py-2 col-12">
      <label class="fw-bold fs-4 px-2 text-primary">Nome</label>
      <input type="text" class="form-control" formControlName="nome">
    </div>

    <div class="py-2 col-12">
      <label class="fw-bold fs-4 px-2 text-primary">Detalhes</label>
      <textarea type="text" class="form-control" rows="6" formControlName="detalhes"></textarea>
    </div>

    <div class="py-2 col-12">
      <label class="fw-bold fs-4 px-2 text-primary w-100">Status</label>
      <select class="w-100 form-select" formControlName="status">
        <option value="0">Aguardando</option>
        <option value="1">Andamento</option>
        <option value="2">Concluida</option>
        <option value="3">Cancelada</option>
      </select>
    </div>

    <div class="py-2 col-12">
      <label class="fw-bold fs-4 px-2 text-primary">Data de cadastro</label>
      <input type="text" class="form-control" formControlName="dataCadastro" readonly>
    </div>

    <div class="py-2 col-12">
      <label class="fw-bold fs-4 px-2 text-primary">Data de Atualização</label>
      <input type="text" class="form-control" formControlName="dataAtualizacao" readonly>
    </div>

    <div class="py-2 col-6">
      <button class="btn btn-danger w-100" (click)="botaoCancelar()">Cancelar</button>
    </div>

    <div class="py-2 col-6">
      <button class="btn btn-primary w-100" (click)="botaoSalvar()">Salvar</button>
    </div>

  </form>
</div>
