<div class="p-4">
  <h3 class="fw-bold text-primary text-center">Adicionar nova tarefa</h3>

  <form [formGroup]="tarefaForm" (submit)="adicionarTarefa()">
    <div class="py-2">
      <label class="text-primary fw-bold">Nome da tarefa*</label>
      <input type="text" class="form-control" formControlName="nome">
    </div>

    <div class="py-2">
      <label class="text-primary fw-bold">Detalhes da tarefa*</label>
      <textarea type="text" class="form-control" rows="5" formControlName="detalhes"></textarea>
    </div>

    <div class="py-2">
      <button class="btn btn-primary w-100" type="submit" [disabled]="tarefaForm.invalid">Adicionar tarefa</button>
    </div>
  </form>

</div>
