<div class="card p-4 shadow">
  <div class="row">
    <div class="fw-bold col-lg-3">
      Nome
    </div>

    <div class="fw-bold col-lg-3">
      Status
    </div>

    <div class="fw-bold col-lg-2">
      Cadastro
    </div>

    <div class="fw-bold col-lg-2">
      Conclusão
    </div>

    <div class="fw-bold col-lg-2">
      Ações
    </div>

  </div>

  <div *ngIf="tarefas.length > 0">
    <app-tarefa *ngFor="let tarefa of tarefas" [tarefa]="tarefa"></app-tarefa>
  </div>

  <div *ngIf="tarefas.length <= 0" class="p-2 col-12 text-center">
    <span class="h6 text-muted fw-bold">Você ainda não tem nenhuma tarefa cadastrada.</span>
  </div>

  <div class="row">
    <button class="btn btn-primary" (click)="abrirModalCadastro()">Adicionar tarefa</button>

  </div>
</div>
